.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background-size: cover;
}

.song_name{
    margin-top: 10px;
}

canvas{
    margin-top: 30px;
    border: 10px solid greenyellow;
    border-radius: 10px;
    animation-name: example1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example1 {
    0% {box-shadow: 1px 1px 10px 10px red;}
    25% {box-shadow: 1px 1px 10px 15px orange;}
    50% {box-shadow: 1px 1px 10px 20px yellow;}
    75% {box-shadow: 1px 1px 10px 15px orange;}
    100% {box-shadow: 1px 1px 10px 10px red;}
}
